body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    list-style-type:square;
    list-style-position: outside;
    /*
    square
    circle
    none
    */
}

ol{
    list-style-image: url("tick-512.png");
}

table{
    border: 1px solid #F2F2F2;
    width: 100%;
}

table th{
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #4CAF50;
    color: white;
}

 .gri{
    background-color: #F2F2F2;
    padding-left: 5px;
}

 .beyaz{
    background-color: #FFFFFF;
    padding-left: 5px;
}
